<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Books</title>
</head>
<body>
    <header>
        <h1>Bookflix and Chill</h1>
    <nav>
        <a href="/">Homepage</a>
        <a href="#">Logout</a>
        <a href="/login">Login</a>
        <a href="/sign-up">Sign-up</a>
        <a href="/reviews">review</a>
    </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>

    </footer>
    
</body>
</html>