      <h3 class="red-text">Popular</h3>
      <div class="wrapper">
        <section id="section1">
          <a href="#section3" class="arrow__btn odd">‹</a>
          <div class="item">
            <a href="/book/25">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/4575-1/%7B3CC9AC32-378A-4E76-A855-5C4ED9F040D4%7DIMG400.JPG"{{!--The Five-Star Weekend--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="/book/18">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/13658-1FDD/752/E2/%7BFDD752E2-5374-42ED-B0B4-1534A91B4334%7DImg400.jpg"{{!--1984--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/1523-1/%7BD8B4092E-6291-4EC2-AB95-D1DD55258478%7DIMG400.JPG"{{!--The Whispers--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/1523-1/%7B49C0B07D-BA21-40E8-9F1D-2D894EF63F9F%7DIMG400.JPG"{{!--Meet Me At The Lake--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0293-1/%7B412462A2-FE66-45F1-B4B3-8F9BCEBC0899%7DIMG400.JPG"{{!--Pageboy--}}
            />
            </a>
          </div>
          <a href="#section2" class="arrow__btn even">›</a>
        </section>
        <section id="section2">
          <a href="#section1" class="arrow__btn odd">‹</a>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/1523-1/%7BB240C268-9B32-4D56-A59D-DB07DF769865%7DIMG400.JPG"{{!--Happy Place--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0293-1/%7BCA9A6813-D119-45B4-A27E-B54B34E7982E%7DIMG400.JPG"{{!--The Lie Maker--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0293-1/%7BDC2C2BB8-EF2A-4015-8C1C-F0E7573FED75%7DIMG400.JPG"{{!--Demon Copperhead--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/6251-1/%7B1E93872B-FFF7-4F8C-A386-27085F2FD0C2%7DIMG400.JPG"{{!--The Covenant of Water--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0111-1/%7B5CC7F7F4-69A4-4C99-B3B3-72B5E56619EE%7DIMG400.JPG"{{!--The Wager--}}
            />
            </a>
          </div>
          <a href="#section3" class="arrow__btn even">›</a>
        </section>
        <section id="section3">
          <a href="#section2" class="arrow__btn odd">‹</a>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0293-1/%7B0EE8DCB2-40BF-487B-8608-AD5C6DBE826B%7DIMG400.JPG"{{!--Truth Telling--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0293-1/%7B3F13DAA8-4C88-4586-9D75-815A3132B3EA%7DIMG400.JPG"{{!--Unfortunatly Yours--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0439-1/%7BDD021518-B8F7-4178-B81D-AA9A5C5C8324%7DIMG400.JPG"{{!--Closer By Sea--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/1523-1/%7BAC430D14-31E9-4845-BC30-0DDCC6F24D59%7DIMG400.JPG"{{!--Love Theoretically--}}
            />
            </a>
          </div>
          <div class="item">
            <a href="#">
            <img class='responsiveImage'
              src="https://img1.od-cdn.com/ImageType-400/0293-1/%7B9BA6B049-4297-49EC-99DD-BF8877861ABC%7DIMG400.JPG"{{!--Homecoming--}}
            />
            </a>
          </div>
          <a href="#section1" class="arrow__btn even">›</a>
        </section>
      </div>
      <h3 class="red-text">Manga</h3>
<div class="wrapper">
  <section id="section4">
    <a href="#section6" class="arrow__btn odd">‹</a>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6612-1/973/B99/1C/%7B973B991C-2894-42E7-B058-9CD5757CC104%7DImg400.jpg"{{!--Your Lie In April--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/DAA/A8D/26/%7BDAAA8D26-93F9-4506-830B-D2E884FDFEE0%7DImg400.jpg"{{!--Black Clover--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/504/C8F/61/%7B504C8F61-8288-469E-8790-B41FC812F984%7DImg400.jpg"{{!--Bleach--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/36B/CC0/B7/%7B36BCC0B7-EAF8-4EF3-BC71-A20F7DD7A7B3%7DImg400.jpg"{{!--Death Note--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/F28/0A1/EA/%7BF280A1EA-8145-432E-84EC-8AAF00F9A7B0%7DImg400.jpg"{{!--Demon Slayer--}}
      />
      </a>
    </div>
    <a href="#section5" class="arrow__btn even">›</a>
  </section>
  <section id="section5">
    <a href="#section4" class="arrow__btn odd">‹</a>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/6B4/004/B4/%7B6B4004B4-56F3-4187-A508-C975F608F5FF%7DImg400.jpg"{{!--Dragon Ball Z--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6612-1/790/86A/8A/%7B79086A8A-5ED8-4BA2-A845-8850E8CFD3D5%7DImg400.jpg"{{!--Vinland Saga--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/8670-1/%7B2429E8AD-AA3B-44A4-BD84-533BAF872601%7DIMG400.JPG"{{!--Golden Time--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/303/C89/6F/%7B303C896F-710D-4E64-AC0D-37F1C2B157E5%7DImg400.jpg"{{!--Jujutsu Kaisen--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/0111-1/304/573/F6/%7B304573F6-2DEB-48FB-8E40-0D5F0A195C15%7DImg400.jpg"{{!--Mob psycho 100--}}
      />
      </a>
    </div>
    <a href="#section6" class="arrow__btn even">›</a>
  </section>
  <section id="section6">
    <a href="#section5" class="arrow__btn odd">‹</a>
    <div class="item">
      <a href="#"></a>
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/28C/35F/42/%7B28C35F42-E092-422B-B677-471633B8D8F1%7DImg400.jpg"{{!--My Hero Academia--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/9B1/D71/8A/%7B9B1D718A-1DD4-423D-9039-89EBCDC181BB%7DImg400.jpg"{{!--Naruto--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/28A/A18/33/%7B28AA1833-F9F1-4553-8575-BB4C1B934D13%7DImg400.jpg"{{!--One Piece--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6378-1/353/04A/B5/%7B35304AB5-98F6-46B0-8716-A261B3D09DBF%7DImg400.jpg"{{!--One Punch Man--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6612-1/4AF/A98/C2/%7B4AFA98C2-371E-4E24-B92A-ED9137CF2EEE%7DImg400.jpg"{{!--Attack On Titan--}}
      />
      </a>
    </div>
    <a href="#section4" class="arrow__btn even">›</a>
  </section>
</div>
<h3 class="red-text">Classics</h3>
<div class="wrapper">
  <section id="section7">
    <a href="#section9" class="arrow__btn odd">‹</a>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/0211-1/%7B383C0CB6-3AF0-4F8A-9D84-CFF4BEBA841D%7DIMG400.JPG"{{!--100 years of solitude--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6251-1/%7B47F56758-750A-4FAA-8931-DA522957A6A5%7DIMG400.JPG"{{!--Brave New World--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/4847-1/A85/A52/23/%7BA85A5223-DAA7-4525-B4B6-623719212AF9%7DImg400.jpg"{{!--I Capture The Castle--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/0290-1/FB2/C2B/65/%7BFB2C2B65-D072-485E-B67B-4BA914BCBD22%7DImg400.jpg"{{!--The Chrysalids--}}
      />
    </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6645-1/609/739/A2/%7B609739A2-EC29-4C5B-8ED1-BC44A4BEDDB9%7DImg400.jpg"{{!--Crime and Punishment--}}
      />
      </a>
    </div>
    <a href="#section8" class="arrow__btn even">›</a>
  </section>
  <section id="section8">
    <a href="#section7" class="arrow__btn odd">‹</a>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/13658-1FF5/A35/93/%7BFF5A3593-4661-4D78-BB48-4B6CFA6CAF81%7DImg400.jpg"{{!--In Cold Blood--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6645-1/6DD/150/AD/%7B6DD150AD-94EE-4F3B-BE90-DFD207623B9C%7DImg400.jpg"{{!--Jane Eyre--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/2848-1/1FE/DC1/C2/%7B1FEDC1C2-6D73-403C-8D5E-33ADFA699532%7DImg400.jpg"{{!--Moby Dick--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/0293-1/75E/9B6/08/%7B75E9B608-CC77-4AF1-8507-A252647DAF4A%7DImg400.jpg"{{!--To Kill A MockingBird--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6251-1/%7B6C961294-102A-463D-89F2-3E6551523BE1%7DIMG400.JPG"{{!--Persuasion--}}
      />
      </a>
    </div>
    <a href="#section9" class="arrow__btn even">›</a>
  </section>
  <section id="section9">
    <a href="#section8" class="arrow__btn odd">‹</a>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/6645-1/C83/0B9/02/%7BC830B902-D3FC-45E5-B79D-238766E951F9%7DImg400.jpg"{{!--Pride & Prejudice--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/0111-1/%7B2F67B10D-4DB8-49FE-A12B-3FCB03184AAB%7DIMG400.JPG"{{!--The Secret History--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/3580-1/%7B5EB26648-BDDB-4DE4-A47D-C0DC91B03290%7DIMG400.JPG"{{!--The Call Of The Wild--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/7865-1/D28/819/06/%7BD2881906-452B-4AF6-8CC1-E28A69971AA0%7DImg400.jpg"{{!--The Great Gatsby--}}
      />
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        class="responsiveImage"
        src="https://img1.od-cdn.com/ImageType-400/1523-1/6DB/A54/E6/%7B6DBA54E6-40C1-4CC0-AA4B-BE79E97BA368%7DImg400.jpg"{{!--The Outsiders--}}
      />
      </a>
    </div>
    <a href="#section7" class="arrow__btn even">›</a>
  </section>
</div>

      