<div>
    <h2>Popular 2022</h2>
    <div id="popularDiv">

    </div>
</div>
<div>
    <h2>Manga</h2>
    <div></div>
</div>
<div>
    <h2>Classics</h2>
    <div></div>
</div>
<script src="../public/js/homepage.js"></script>