{{#each books as |book|}}
<div>
    <h2>title of book</h2>
    <h2>author</h2>
    <h2>Genre</h2>
    <h2>Date made</h2>
    <h2>ISBN</h2>
    <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos nemo, doloribus quibusdam numquam odit natus iure expedita quaerat fugiat.</p>
    <h2>Reviews</h2>
    <button>Post Review</button>
</div>
{{/each}}