 <div class="row">
    <div class="col s12"><p>Book</p></div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Review</label>
        </div>
      </div>
    </form>
</div>