html {
  scroll-behavior: smooth;
}

.validate {
  background-color: #fff;
}
body {
  margin: 0;
  background-color: #000;
}
body header nav {
  background-color: #000;
  text-align: end;
}
main {
  color: #fff;
}

h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.odd {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.even {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.responsiveImage {
  max-width: 350px;
}

@media only screen and (max-width: 1500px) {
  .responsiveImage {
    max-width: 300px;
  }
}
@media only screen and (max-width: 1300px) {
  .responsiveImage {
    max-width: 250px;
  }
}

@media only screen and (max-width: 1100px) {
  .responsiveImage {
    max-width: 200px;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 900px) {
  .responsiveImage {
    max-width: 150px;
  }
}
@media only screen and (max-width: 700px) {
  .responsiveImage {
    max-width: 130px;
  }
}
@media only screen and (max-width: 600px) {
  .responsiveImage {
    max-width: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .wrapper section a {
    font-size: 5em;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper section a {
    font-size: 4em;
  }
}
@media only screen and (max-width: 400px) {
  .wrapper section {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .wrapper section .item {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .responsiveImage {
    max-width: 200px;
  }
}
